.manage-category-container {
    width: 100%;
    height: auto;
    padding: 10px 30px;

    .information-title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
        color: #ff3b18;
    }

    .information-content {
        margin-top: 40px;

        .information-table {

            .table {

                .btn-danger {
                    margin-right: 10px !important;
                }

                .category-image {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}